* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/* -------------------------------------
General styles */

body {
    font-family: sans-serif;
    font-size: 16px;
    background: url('/images/landing-background.jpg') no-repeat;
    background-attachment: fixed;
}



.hidden {
    display: none;
}

/* -------------------------------------
Header styles
*/

.title {
    margin-top:10px;
    text-align: center;
    font-size: 20px;
}



/* -------------------------------------
Content styles
*/
.app-summary h1,
.app-summary h2 {
    display: block;
    text-align: center;
    margin: 2rem auto;
    padding-top:10px;

}

.form-wrapper {
    display: block;
    width: 80%;
    margin: 2rem auto;
}

.form-wrapper .input-wrapper {
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: grey
}

.form-wrapper fieldset {
    border: 1px solid blue;
    padding: 1rem;
    font-size: 1.5rem;
}

.form-wrapper fieldset label,
.form-wrapper fieldset input,
.form-wrapper fieldset select {
    display: inline-block;
    width: 30%;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: grey
}

.form-wrapper fieldset input,
.form-wrapper fieldset select {
    width: 69%;
    border: 1px solid gray;
}

.form-wrapper fieldset input.sideBySide,
.form-wrapper fieldset select.sideBySide {
    display: inline-block;
    width: auto;
    margin-right: 1rem;
    margin-top: 1rem;
}

.form-wrapper fieldset .icons-wrapper {
    display: block;
    width: 100%;
    margin: 1rem;
}

.form-wrapper fieldset .icons-wrapper .icon-content {
    display: block;
    width: 100%;
    margin: 0.5rem;
    font-size: 1rem;
    color: grey;
}

.form-wrapper fieldset .icons-wrapper .icon-content i,
.form-wrapper fieldset .icons-wrapper .icon-content span {
    display: inline-block;
    width: auto;
    max-width: 90%;
    vertical-align: middle;
}

.form-wrapper fieldset .icons-wrapper .icon-content .fa-times {
    width: 20px;
    font-size: 2rem;
    color: red;
}

.form-wrapper fieldset .icons-wrapper .icon-content .fa-info {
    color: green;
    width: 20px;
    font-size: 2rem;
}

.form-wrapper fieldset .icons-wrapper .icon-content span {
    margin-left: 1rem;
}

.depth-notes {
    display: block;
    width: 100%;
    border: 1px solid gray;
    font-family: sans-serif;
}

.legend-show button,
.legend-hide button {
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 5px;
}

/* -------------------------------------
Footer styles
*/


/* -------------------------------------
Responsive styles
*/
input[type="date"] {
    display: block;

    /* Solution 1 */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;

    /* Solution 2 */
    /* min-width: 96%; */
}
